---
title: Ped Pan
layout: default
bodyClass: page-home
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for visit in site.data.visits %}
      {% if visit.title2 %}
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="visit">
            {% if visit.image %}
            <div class="visit-image"><img alt="{{ visit.title }} logo" src="{{ visit.image | relative_url }}" /></div>
            {% endif %}
            <a href={{visit.url}} target="_blank">
            <h2 class="visit-title">{{ visit.title }}</h2>
            </a>
            <a href={{visit.url2}} target="_blank">
              <h2 class="visit-title">{{ visit.title2 }}</h2>
              </a>
          </div>
      {% else %}
      <a href={{visit.url}} target="_blank">
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="visit">
            {% if visit.image %}
            <div class="visit-image"><img alt="{{ visit.title }} logo" src="{{ visit.image | relative_url }}" /></div>
            {% endif %}
            <h2 class="visit-title">{{ visit.title }}</h2>
            <div class="visit-content">{{ visit.description }}</div>
          </div>
        </a>  
      {% endif %}
      </div>
      {% endfor %}

    </div>
  </div>
</div>
